.env
variables.json
.vscode
.nvim
buildServer.json
Tuist/.build

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

### Projects ###
*.xcodeproj
*.xcworkspace

### Cargo
task-champion-swift/

tmp/
.DS_Store
